@import "screen.css";
@import "print.css";

a:link {
	color: blue 
}
a:visited {
 	color: purple 
 }
address {
	margin-top: 1em;
	padding-top: 1em;
	border-top: thin dotted 
}
.tytul	{
	font-style: italic;
}
.autor	{
	font-variant: small-caps;
}

article section {
  padding-left: 3em;
}

footer {
  margin-top: 2em;
  border-top: 1px solid #156711;
}